/*reset de css */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* mi estilo */

/*{border:1px dotted red;} */

body {
  background-color: #e6ded8;
  overflow: scroll;
}

article ul li {
  list-style-type: circle;
}

header nav ul {
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  font-style: normal;
  cursor: pointer;

}

header nav ul li:hover {
  text-decoration: overline;
}

header nav {
  font-size: 0.8em;
  text-transform: uppercase;
}

header {
  padding: 2em;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2em;
  width: 70vw;
  margin: 0 auto;
  max-height: 5000px;
  transition: max-height 500ms ease;
}

.foto-perfil {
  width: 25%;
}

.foto-perfil img {
  border-radius: 100%;
  border: 3px solid white;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-perfil a>img {
  height: 2em;
}

.perfil {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

article h1,
article h2 {
  margin: 1em 0;
}


.personalinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#infopersonal,
#experiencia,
#educacion,
#intereses,
#carta {
  display: none;
}

.intereses {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formacionycursos,
.idiomasyconocimientos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.educacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.educacion p {
  margin-bottom: 1em;

}

.educacion li {
  margin-left: 1.2em;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}


@media (max-width: 930px) {

  header {
    width: 30%;
    flex-direction: row;

  }

  header nav ul {
    display: block;
  }

  header nav ul li {
    padding-bottom: 2em;
  }

  .card {
    width: 90%;
  }

  .foto-perfil {
    width: 30%;
  }

  .info-perfil {
    font-size: 0.7em;
  }

  .personalinfo,
  .educacion,
  .intereses {
    display: block;
  }
}